
.main-container
  width 100%
  display block
  margin 0 auto
  padding 0
  background gold
  @extend $container
  .main
    height 600px
    background blue
    .row
      @extend $row
    .list
      @extend $col-md-9
    .col
      background blue
      @extend $col-xs-12
      @extend $col-sm-6
      @extend $col-md-4
      @extend $col-lg-2
    .heading
      background teal
      @extend $col-md-3
